In [38]:
import pandas as pd
import numpy as np

In [69]:
train_data_desc = pd.read_csv("./df_with_200_descriptors_csv.csv")
test_data_desc = pd.read_csv("./df_test.csv")

In [73]:
train_data_desc.describe()

,MaxEStateIndex,MinEStateIndex,MaxAbsEStateIndex,MinAbsEStateIndex,qed,MolWt,HeavyAtomMolWt,ExactMolWt,NumValenceElectrons,NumRadicalElectrons,...,fr_sulfone,fr_term_acetylene,fr_tetrazole,fr_thiazole,fr_thiocyan,fr_thiophene,fr_unbrch_alkane,fr_urea,expected,ID_vals
count,75383.000000,75383.000000,75383.000000,75383.000000,75383.000000,75383.000000,75383.000000,75383.000000,75383.000000,75383.000000,...,75383.000000,75383.000000,75383.000000,75383.000000,75383.000000,75383.000000,75383.000000,75383.000000,75383.000000,75383.000000
mean,10.139974,-1.231018,10.139974,0.246767,0.516070,286.463619,270.176704,285.960991,102.196623,-0.047756,...,-0.043604,-0.042861,-0.051590,-0.043883,-0.048088,-0.045952,0.489155,0.003462,1.858615,1171.658676
std,6.731101,6.204736,6.731101,5.968613,5.949503,138.420129,132.407715,138.232935,51.093400,5.942065,...,5.942491,5.942472,5.941668,5.942379,5.942258,5.942189,6.255102,5.946917,0.348420,832.212906
min,-666.000000,-666.000000,-666.000000,-666.000000,-666.000000,-666.000000,-666.000000,-666.000000,-666.000000,-666.000000,...,-666.000000,-666.000000,-666.000000,-666.000000,-666.000000,-666.000000,-666.000000,-666.000000,1.000000,2.000000
25%,8.982088,-1.688251,8.982088,0.041146,0.438729,188.267000,174.138000,188.120115,68.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,35.000000
50%,11.058519,-0.588989,11.058519,0.149429,0.569414,274.413000,256.172000,274.028479,94.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,1387.000000
75%,12.340562,-0.001335,12.340562,0.339410,0.717721,360.435000,340.275000,360.112837,128.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,1687.000000
max,17.262020,2.120000,17.262020,7.668295,0.943477,1701.206000,1648.790000,1700.172974,632.000000,3.000000,...,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,33.000000,4.000000,2.000000,2453.000000

In [50]:
test_data_desc

,MaxEStateIndex,MinEStateIndex,MaxAbsEStateIndex,MinAbsEStateIndex,qed,MolWt,HeavyAtomMolWt,ExactMolWt,NumValenceElectrons,NumRadicalElectrons,...,fr_sulfonamd,fr_sulfone,fr_term_acetylene,fr_tetrazole,fr_thiazole,fr_thiocyan,fr_thiophene,fr_unbrch_alkane,fr_urea,ID_vals
0,9.626968,0.025579,9.626968,0.025579,0.624614,164.248,148.120,164.120115,66,0,...,0,0,0,0,0,0,0,0,0,1682
1,12.473362,-4.605249,12.473362,0.061165,0.617511,431.452,414.316,431.056940,152,0,...,1,1,0,0,0,0,0,0,1,1656
2,14.627193,-4.140552,14.627193,0.064351,0.224134,696.264,655.944,695.250845,254,0,...,1,0,0,0,0,0,0,0,0,36
3,10.420833,-3.973958,10.420833,0.000000,0.393203,201.244,197.212,200.949810,56,0,...,0,0,0,0,0,0,0,0,0,1850
4,12.865865,-0.601027,12.865865,0.094949,0.639062,418.574,380.270,418.271924,168,0,...,0,0,0,0,0,0,0,0,0,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10989,12.851673,-4.443395,12.851673,0.048352,0.391778,408.376,389.224,408.129692,154,0,...,0,0,0,0,0,0,0,0,0,38
10990,11.617073,-0.992448,11.617073,0.147894,0.635519,320.344,304.216,320.104859,120,0,...,0,0,0,0,0,0,0,0,0,34
10991,12.406479,-4.356493,12.406479,0.049357,0.705120,381.370,366.250,381.074304,138,0,...,1,0,0,0,0,0,0,0,1,1640
10992,11.026605,-3.480301,11.026605,0.167292,0.540194,220.976,213.920,219.945901,66,0,...,0,0,0,0,0,0,0,0,0,28
10993,10.933565,0.014444,10.933565,0.014444,0.608973,151.190,146.150,151.009185,50,0,...,0,0,0,0,0,0,0,0,0,1855

In [53]:
# Dropping null values in training data 
train_data_desc = train_data_desc.dropna()
# Replacing null value with 0 in test data 
test_data_desc = test_data_desc.fillna(0)

In [54]:
X = train_data_desc.drop("expected",axis=1)
y = train_data_desc["expected"]

In [55]:
# Using random forest algorithm 
from sklearn.ensemble import RandomForestClassifier

In [61]:
model = RandomForestClassifier(random_state=13)

In [62]:
model.fit(X,y)

RandomForestClassifier(random_state=13)

In [63]:
predict = model.predict(test_data_desc)

In [60]:
print(np.count_nonzero(predict==1))
print(np.count_nonzero(predict==2))

1431
9563

In [64]:
submission_file = pd.read_csv("./sample_submission.csv")

In [65]:
submission_file

                                                      Id  Predicted
0                         CC1=CC(=C(C=C1)C(C)(C)C)O;1682          1
1      CCS(=O)(=O)C1=C(N=CC=C1)S(=O)(=O)NC(=O)NC2=NC(...          2
2      CC1=NC2=CC=CC=C2N1C3CC4CCC(C3)N4CCC5(CCN(CC5)C...          1
3                    CC1=CC(=O)[N-]S(=O)(=O)O1.[K+];1850          2
4      CCC(C)(C)C(=O)O[C@H]1C[C@H](C=C2[C@H]1[C@H]([C...          2
...                                                  ...        ...
10989  CC(=NOCC1=CC=CC=C1C(=NOC)C(=O)OC)C2=CC(=CC=C2)...          1
10990  C1=CC=C(C(=C1)C(C2=CC=C(C=C2)O)C3=CC=C(C=C3)O)...          2
10991  CC1=NC(=NC(=N1)OC)NC(=O)NS(=O)(=O)C2=CC=CC=C2C...          1
10992                           COP(=O)(OC)OC=C(Cl)Cl;28          2
10993                        C1=CC=C2C(=C1)C(=O)NS2;1855          2

[10994 rows x 2 columns]

In [66]:
submission_file.Predicted = predict

In [68]:
submission_file.to_csv("Submission_file_rdkit_3.csv",index=False)